body {
    background: #0F2027;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to leftt, #2C5364, #203A43, #0F2027);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #2C5364, #203A43, #0F2027); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    color: white;
}

.game-desc {
    height: 200px;
    margin-left: 20%;
    margin-right: 20% ;
    margin-top: 5%;
}

.main-char {
    position: absolute;
    top: 4px;
    left: 4px;
}

.boss {
    position: absolute;
    bottom: 4px;
    right: 4px;
}








.purchase {
    margin-left: 20%;
}

.coin h2 {
    position: relative;
    top: -95px;
    left: 10%;
}

.purchase-btn {
    height: 50px;
    width: 150px;
    border-radius: 3px ;
    border: 2px solid green;
}

.purchase-btn h2 {
    margin-top: 13px;
}

.purchase-btn:hover {
    background: greenyellow;
    cursor: pointer;
}

.purchase-log {
    position: absolute;
    display: block;
    bottom: 10px;
    left: 20%;
    right: 20%;
    bottom: 20%;
    height: 200px;
    border: 3px solid white;
    text-align: center;
    border-radius: 3px;
    background: rgba(0,1,0,0.7);
}

.purchase-logbox {
    padding: 10px;
}







.revive {
    position: absolute;
    z-index: 5;
    top: 45%;
    left: 45%;
    width: 150px;
    height: 40px;
    color: white;
    text-align: center;
    padding-top: 7px;
    border: 3px solid blue;
    text-decoration: none !important;
    font-size: 1.5em;
}

.revive a {
    text-decoration: none;
    color: white;
}

.revive:hover {
    font-weight: bold;
}










.profile-head {
    position: fixed;
    left: 0;
    right: 0;
    z-index: 6;
    text-align: center;
    font-size: 2em;
}
.profile {
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background: rgba(0,1,0,0.3);

}

.profile .main-char {
    position: relative;
    top: 20%;
    left: 20%;
    right: 50%;
}

.profile .account-info {
    position: relative;
    top: -50%;
    left: 50%;
    right: 2%;
    width: 50vw;
    height: 100vh;
    background: rgba(1, 0.3, 0.5, 0.3); 
    color: white;
}

.account-info h1 {
    position: absolute;
    text-align: center;
    top: 40%;
    left: 2%;
}